@font-face {
    font-family: 'YekanBakh';
    src: url('./YekanBakh-Regular.eot'); /* IE9 Compat Modes */
    src: url('./YekanBakh-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./YekanBakh-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('./YekanBakh-Regular.woff') format('woff'), /* Modern Browsers */
    url('./YekanBakh-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./YekanBakh-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* .section-content-box p, span, tbody, tr, td , li , strong{
    font-family: 'Yekan' !important;
}
 */

*{
	 font-family: 'YekanBakh' ;
}